<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.hsr.edu.sinv_56082.gastroginiapp">

    <application
        android:name=".app.LocalData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="AA_DB_NAME" android:value="Data.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />

        <activity
            android:name=".ui.activities.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.event.EventListActivity"
            android:label="@string/title_activity_event_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.event.EventViewActivity"
            android:label="@string/title_activity_event_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.connection.StartEventActivity"
            android:label="@string/title_activity_start_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.connection.JoinEventActivity"
            android:label="@string/title_activity_join_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.menu.MenuMain"
            android:label="@string/title_activity_menu_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.order.ServiceHome"
            android:label="@string/title_activity_service_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.activities.menu.MenucardListView"
            android:label="@string/title_activity_menucard_list_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
